.cstm-flex {
    display: flex;
    justify-content: space-between;
}

.banner-video {
    width: 86%;
    object-fit: cover;
  }
  .banner-div-1 img{
    width: 27rem;
}
@media (max-width: 967px) {
.banner-div-1 img{
    width: 20rem;
}
}