/* ChatWindow.css */
.chat-window {
    border: 1px solid #222;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-header {
    background-color: #222;
    color: white;
    border-radius: 8px;
    padding: 10px;
  }
  
  .chat-messages {
    padding: 10px;
    max-height: 70%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #979595 black;
  }
  
  
/* Webkit-based browsers (Chrome, Safari) */
.chat-messages::-webkit-scrollbar {
    width: 8px;
  }
  
  .chat-messages::-webkit-scrollbar-track {
    background: #222;
  }
  
  .chat-messages::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .chat-messages::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  .message-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .sent {
    justify-content: flex-end;
  }
  
  .message {
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%; /* Adjust max-width as needed */
  }
  
  .sent .message {
    background-color: #ccc;
  }
  
  .received .message {
    background-color: #222; /* Gray background for received messages */
  }
  
  .message-input {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .message-input input {
    flex: 1;
    margin-right: 10px;
  }
  
  .message-input button {
    min-width: 80px;
  }
  