/* src/styles.css */
.dashboard {
    margin-top: 20px;
  }
  
  .user-list {
    padding-right: 15px;
    overflow-y: auto;
  }
  
  .user-list .list-group-item {
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .user-list .list-group-item:hover {
    background-color: #f0f0f0;
  }
  
  .chat-window {
    padding: 15px;
    overflow-y: auto;
  }
  
  .message {
    margin: 10px 0;
  }
  
  .message-sender {
    font-weight: bold;
  }
  
/* Customer-Dashboard.css */
/* Customer-Dashboard.css */
.countdown-timer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.timer-div {
  display: flex;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}
.timer {
  font-size: 24px;
  color: #ffffff; /* White text color */
  background-color: #161616; /* Blue background color */
  padding: 10px 20px; /* Add padding for better visual appeal */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-left: 20px; /* Add some spacing between timer and top-up bar */
}

.hire-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

@media (max-width: 767px) {
  .user-list {
    margin-bottom: 10px;
  }
  .user-list {
    padding-right: 10px;
  }
  .chat-window {
    padding: 0px;
  }
  .user-list-container {
    border-right: none;
    min-height: 0vh;
  }
}
