.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 50%;
  }

  .d-flex-cstm {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }